.container{
    width: 80%;
    margin: 0 auto; /*align center*/
    background-color: brown;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: grey;
    }

    .container{
        width: 100%;
        background-color: lime;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: lightgreen;
}

.item{
    background-color: #ccc;
    padding: 20px;
    margin: 10px;
    flex: 1; /* This allows the items to grow and fill the container equally */
}